<p>myc07 works!</p>
<h1>自定义管道</h1>

<!-- 自制开平方管道 -->
<h2>自制开平方管道</h2>
<p>{{ 81 | sqrt }}</p>
<p>{{ 25 | sqrt }}</p>

<!-- 制作获取 平方的 管道 -->
<h2>制作获取 平方的 管道</h2>
<p>{{ 81 | pingfang }}</p>
<p>{{ 15 | pingfang }}</p>

<!-- 次幂管道 -->
<!-- 带有参数的管道 -->
<h2>次幂管道</h2>
<p>{{ 5 | pow: 2 }}</p>
<p>{{ 5 | pow: 5 }}</p>


<!-- 带有默认参数的管道 -->
<!-- gender: 性别 -->
<!-- 0女性 1男性 2未知 -->
<h2>性别管道</h2>
<p>{{ 1 | gender }}</p>
<p>{{ 0 | gender }}</p>
<p>{{ 2 | gender }}</p>

<h2>带参数的性别管道</h2>
<p>{{ 1 | gender: "en" }}</p>
<p>{{ 0 | gender: "en" }}</p>
<p>{{ 2 | gender: "en" }}</p>
<!-- 带有参数 'en' 则出现 Male Female Unknown -->